html {
	height: 100%;
}
body {
	font-family:Ubuntu, sans-serif;
	background-image: url(../images/skin/bg.png);
	background-image: -webkit-radial-gradient(50% 50%, circle, rgba(0,0,0,0) 15%, rgba(0,0,0,0.25) 100%), url(../images/skin/bg.png);
	height: 100%;
	margin: 0;
}
a img { border: 0; }
h1 {
	text-indent: -9999px;
	height: 239px;
	background: url(../images/logotype2.png) no-repeat center top;
	margin: 0;
}
h2 { /* player names */
	font-size: 16px;
}
em { /* names in chat */
	font-weight: bold;
	font-size: 14px;
}
em.self { /* your name */
	color: blue;
}

#openid_form {
	margin: 0 auto;
}

#login {
	width: 100%;
	margin-top: -200px;
	position: absolute;
	top: 50%;
	left: 0;
}

#login-form {
	margin-top: 2em;
}

#popup {
	display: none;
}
#container {
	width: 968px;
	text-align: center;
	margin: 0 auto;
}
#topbar {
	padding-top: 5px;
}
#chatbox {
	text-align: left;
	width: 25%;
	height: 150px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0 0 10px 10px;
	position: fixed;
	top: 0;
	right: 10px;
	padding: 0 10px 10px;
	-webkit-transition: all 0.5s ease-out;
}
#chatbox.collapsed {
	top: -110px;
}
	#chat {
		color: white;
		height: 120px;
		overflow: auto;
	}
	#chat p {
		line-height: 1em;
		margin: 0 0 .25em 0;
	}
#gamelogbox {
	text-align: left;
	float: right;
	width: 50%;
	background-color: #fcc;
	height: 150px;
	display: none;
}
	#gamelog p {
		line-height: 1em;
		margin: 0 0 .25em 0;
	}
	#gamelog {
		overflow: hidden;
		height: 120px;
		width: 100%;
	}
	#gamelog > div {
		overflow: auto;
		height: 120px;
		width: 100%;
	}
	#gamelogfilters {
		overflow: hidden;
		background: #c99;
		float: left;
		height: 30px;
		width: 100%;
		line-height: 30px;
		margin: 0;
		padding: 0;
		position: relative;
	}
	#gamelogfilters > li {
		cursor: pointer;
		list-style: none;
		float: left;
		text-align: left;
		min-width: 40px;
		padding: 0px 10px;
		border-right: 1px solid #966;
	}
	#gamelogfilters > li.active {
		background: #fcc;
	}
	#gamelogfilters > li.updated::after {
		content: "*";
	}
	#gamelogfilters > li > a.gamelogfilters_close {
		float: right;
		text-decoration: none;
		text-align: center;
		color: #966;
		line-height: 20px;
		width: 20px;
		height: 20px;
		display: block;
		margin: 5px -5px 5px 10px;
		-webkit-border-radius: 10px;
	}
	#gamelogfilters > li > a.gamelogfilters_close:hover {
		color: #fcc;
		background-color: #966;
	}
	#gamelogfilters > li > a.gamelogfilters_close:active {
		background-color: #633;
	}
	#gamelogfilters > #gamelogfilters_add {
		min-width: inherit;
		padding: 0 10px;
		border: 0;
		position: absolute;
		right: 0;
	}
	
#gamearea {
	width: 100%;
	min-height: 450px;
	float: left;
	clear: both;
	position: relative;
}
#lobby ul {
	padding: 0;
	margin: 0;
}
	#lobby ul li {
		list-style-type: none;
		width: 200px;
		margin: 5px auto;
	}
	#lobby ul li a {
		display: block;
	}

/* players */
.player {
	width: 138px;
	padding: 5px;
	position: relative;
	margin-bottom: 5px;
	margin-right: 5px;
	float: left;
}
	.player h2 {
		color: white;
		margin: -2px 0 0 0;
		background: url(../images/ribbon1.png) no-repeat;
		padding: 4px 10px 0;
		line-height: 14px;
		font-size: 12px;
		font-weight: normal;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-shadow: 0 1px 0 rgba(0,0,0,.3);
	}
	.player .board {
		position: relative;
		-webkit-transition: -webkit-transform ease-in-out 1s; /* needed for quake */
	}
	.player .board::after {
		content: "";
		position: absolute;
		top:0; right:0; bottom:0; left:0;
	}
	
/* self */
.player.self {
	width: 275px;
	margin-right: 10px;
}
	.player.self h2 {
		font-size: 16px;
		background-image: url(../images/ribbon1-self.png);
		line-height: 30px;
		padding: 8px 20px 0;
		margin-top: -5px;
	}
	.player.self .nextpiece, .player.self .holdpiece {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 238px;
		width: 64px;
		padding: 5px;
	}
	.player.self .holdpiece {
		left: -30px;
	}
	.player.self .inventory {
		float: left;
		clear: both;
		margin: 5px -100px 0 0;
		text-align: left;
		width: 100%;
	}
	.player.self .inventory p {
		float: left;
		margin-top: 0.5em;
	}

/* game states */
.player.winner .nextpiece,
.player.gameover .nextpiece,
.player.winner .holdpiece,
.player.gameover .holdpiece {
	display: none;
}
.player.winner .board::after {
	background: black url(../images/win.png) no-repeat 50% 50%;
	opacity: .9;
}
.player.self.winner .board::after {
	background-image: url(../images/win-self.png);
}
.player.gameover .board {
	box-shadow: 0 0 10px red;
}
.player.gameover .board::after {
	background: black url(../images/skull.jpg) no-repeat 50% 50%;
	opacity: .7;
}
.player.self.gameover .board::after {
	background-image: url(../images/skull-self.jpg);
}
.player.target h2 {
	color: #900;
}
.player.target h2::before {
	content: "* ";
}

/* popup when someone attacks */
.player p.notification {
	text-align: center;
	position: fixed;
	top: 0;
	left: 20px;
	color: black;
	border: 3px solid #ccc;
	background: #e8e8e8;
	-webkit-border-radius: 8px;
	padding: 0 16px;
	line-height: 34px;
}
.player p.notification.message {
	color: #060;
	border: 3px solid #cfc;
	background: #e8ffe8;
}
@-webkit-keyframes attack-popup-blink {
	0% { background: #ffe8e8; border-color: red; }
	100% { background: #ffeeee; border-color: #fcc; }
}
.player p.notification.attack {
	color: #600;
	border: 3px solid #fcc;
	background: #ffe8e8;
	-webkit-animation-name: attack-popup-blink;
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
}
@media screen and (max-width: 1500px) {
	.player p.notification {
		left: auto;
		right: 20px;
	}
}

/* the board */
.board-wrapper {
	width: 96px;
	height: 100%;
	margin: 0 auto;
	background: url(../images/skin/retro.png) no-repeat -192px -24px;
	overflow: hidden;
	position: relative;
}
.board-wrapper::after {
	content: "";
	position: absolute;
	top:0; right:0; bottom:0; left:0;
}
.self .board-wrapper {
	background: url(../images/skin/retro.png) no-repeat 0 -24px;
	width: 192px;
}
.toprow-wrapper {
	background: url(../images/skin/retro.png) no-repeat 0 -24px;
	width: 192px;
	margin: 0 auto;
	height: 2px;
	overflow: hidden;
	display: none;
}
.self .toprow-wrapper {
	display: block;
}
.row {
	float: left;
	width: 100%;
	margin-left: 0;
}
.column {
	float: left;
	width: 8px;
}
.cell {
	float: left;
	width: 8px;
	height: 8px;
	line-height: 8px;
	font-size: 0;
	background: url(../images/skin/retro.png) no-repeat 0 0;
}
.self .row {
	height: 16px;
}
.self .column {
	width: 16px;
}
.self .cell {
	width: 16px;
	height: 16px;
	line-height: 16px;
}
.cell.empty { background-image: none; }
.cell.block { }
.cell.special { background-position: -80px 0; }

.self .cell.block-2, .self .cell.block-7 { background-position: 0 0; } /* blue: I, S */
.self .cell.block-1, .self .cell.block-3 { background-position: -16px 0; } /* yellow: O, T */
.self .cell.block-5 { background-position: -32px 0; } /* green: L */
.self .cell.block-4 { background-position: -48px 0; } /* purple: J */
.self .cell.block-6 { background-position: -64px 0; } /* red: Z */
.self .cell.block-8 { background-position: -432px 0; }

.cell.block-2, .cell.block-7 { background-position: 0px -16px; }
.cell.block-1, .cell.block-3 { background-position: -8px -16px; }
.cell.block-5 { background-position: -16px -16px; }
.cell.block-4 { background-position: -24px -16px; }
.cell.block-6 { background-position: -32px -16px; }

.cell.block-10 { background-image: none; background-color: rgba(127,127,127,0.3); }
.cell.block-8 { background-position: -216px -16px; }

.self .cell.special-a { background-position: -80px 0; } /* add */
.self .cell.special-c { background-position: -96px 0; } /* clear */
.self .cell.special-n { background-position: -112px 0; } /* nuke */
.self .cell.special-q { background-position: -128px 0; } /* quake */
.self .cell.special-r { background-position: -144px 0; } /* random */
.self .cell.special-s { background-position: -160px 0; } /* clear specials */
.self .cell.special-g { background-position: -176px 0; } /* gravity */
.self .cell.special-b { background-position: -192px 0; } /* bomb */
.self .cell.special-w { background-position: -208px 0; } /* switch */
.self .cell.special-l { background-position: -224px 0; } /* left gravity */
.self .cell.special-z { background-position: -240px 0; } /* zebra */
.self .cell.special-f { background-position: -256px 0; } /* flip */
.self .cell.special-i { background-position: -272px 0; } /* invisibility */
.self .cell.special-x { background-position: -288px 0; } /* reflective shield */
.self .cell.special-o { background-position: -304px 0; } /* game of life */
.self .cell.special-u { background-position: -320px 0; } /* glue */
.self .cell.special-d { background-position: -336px 0; } /* rickroll */
.self .cell.special-m { background-position: -352px 0; } /* moses */
.self .cell.special-v { background-position: -368px 0; } /* invert */
.self .cell.special-p { background-position: -384px 0; } /* speed */
.self .cell.special-y { background-position: -400px 0; } /* surprise */
.self .cell.special-k { background-position: -416px 0; } /* s-block */
.self .cell.special-t { background-position: -432px 0; } /* inventory bomb */

.cell.special-a { background-position: -40px -16px; } /* add */
.cell.special-c { background-position: -48px -16px; } /* clear */
.cell.special-n { background-position: -56px -16px; } /* nuke */
.cell.special-q { background-position: -64px -16px; } /* quake */
.cell.special-r { background-position: -72px -16px; } /* random */
.cell.special-s { background-position: -80px -16px; } /* clear specials */
.cell.special-g { background-position: -88px -16px; } /* gravity */
.cell.special-b { background-position: -96px -16px; } /* bomb */
.cell.special-w { background-position: -104px -16px; } /* switch */
.cell.special-l { background-position: -112px -16px; } /* left gravity */
.cell.special-z { background-position: -120px -16px; } /* zebra */
.cell.special-f { background-position: -128px -16px; } /* flip */
.cell.special-u { background-position: -136px -16px; } /* invisibility */
.cell.special-x { background-position: -144px -16px; } /* reflective shield */
.cell.special-o { background-position: -152px -16px; } /* game of life */
.cell.special-u { background-position: -160px -16px; } /* glue */
.cell.special-d { background-position: -168px -16px; } /* rickroll */
.cell.special-m { background-position: -176px -16px; } /* moses */
.cell.special-v { background-position: -184px -16px; } /* invert */
.cell.special-p { background-position: -192px -16px; } /* speed */
.cell.special-y { background-position: -200px -16px; } /* surprise */
.cell.special-k { background-position: -208px -16px; } /* s-block */
.cell.special-t { background-position: -216px -16px; } /* inventory bomb */

/* flip */
.flip {
	-webkit-transform: scaleX(-1);
}
/* nuke */
.board.nuke .toprow-wrapper,
.board.nuke .board-wrapper {
	background: transparent;
}
/* bomb */
.explosion {
	background-image: url('../images/explosion.gif');
	width: 71px;
	height: 100px;
	margin: -42px -28px;
	position: absolute;
	z-index: 10;
}
/* sparkle */
.sparkle {
	background-image: url('../images/sparkle.gif');
	width: 32px;
	height: 32px;
	position: absolute;
	margin: -8px -8px;
	z-index: 10;
}
/* inventory bomb */
.player.self .inventory.bomb .row .cell{
	opacity: 0;
}
/* rickrolling */
.board-wrapper.rickroll-3::after,
.board-wrapper.rickroll-2::after,
.board-wrapper.rickroll-1::after {
	background: url(../images/rickroll.gif) 50% 50%;
    opacity: 0.5;
    background-size: cover;
}
.player.self .board-wrapper.rickroll-3::before,
.player.self .board-wrapper.rickroll-2::before {
	content: ' ';
	position: fixed;
	top:0; right:0; bottom:0; left:0;
	opacity: 0.5;
	background: url(../images/rickroll.gif);
    background-size: cover;
}
.player.self .board-wrapper.rickroll-3::before {
	-webkit-animation: rickroll 0.5s infinite ease;
}
@-webkit-keyframes rickroll {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(2.5) rotateZ(90deg); }
}
/* speed */
 .board-wrapper.speed::after {
	background: url(../images/starfield.gif) 50% 50%;
    background-size: cover;
}
/* nyancat */
.nyancat {
	background: url(../images/nyancat-vert.gif);
	position: absolute;
	display: block;
	height: 34px;
	width: 21px;
}
.nyancat-rainbow {
	background: url(../images/nyancat-rainbow-vert.gif);
	position: absolute;
	display: block;
	width: 21px;
}
#settings_show {
	position: absolute;
	top: 5px;
	left: 5px;
	display: none;
}
#cb_container {
	background: #ccc;
	max-height: 90%;
	overflow: auto;
}
#cb_titlebar {
	margin: 0;
	padding: 4px 10px;
}
#cb_container > div {
	padding: 10px 20px;
}
